In [4]:
# Import necessary libraries
import pandas as pd
import json
import string 

# Load the CSV dataset
df = pd.read_csv("semi_strut.csv")

# Display the first few rows of the dataset
df.head()

   Document ID                                            Content
0            1  {\n   "title": "Introduction to Python",\n   "...
1            2  {\n   "title": "Data Analysis with Pandas",\n ...
2            3  {\n   "title": "Web Development with Flask",\n...
3            4  {\n   "title": "Machine Learning with Scikit-L...
4            5  {\n   "title": "Data Visualization with Matplo...

In [5]:
# Tokenization function to extract terms from the JSON-like content
# Remember to exact both 
# 1 .Extract terms from various fields (title, author)
def tokenize_content(content):
    content_dict = json.loads(content)
    terms = []
    
    # Extract terms from various fields (title, author)
    terms.extend(content_dict.get("title", "").split())
    # terms.extend(content_dict.get("author", "").split())
    return terms
tokenize_content(df["Content"][0])
# 2. apply to all row in panda df , by create new column "Terms"
df["Terms"] = # your code here.....

,Document ID,Content,Terms,Terms_prep
0,1,"{\n ""title"": ""Introduction to Python"",\n ""...","[Introduction, to, Python]","[introduction, python]"
1,2,"{\n ""title"": ""Data Analysis with Pandas"",\n ...","[Data, Analysis, with, Pandas]","[data, analysis, pandas]"
2,3,"{\n ""title"": ""Web Development with Flask"",\n...","[Web, Development, with, Flask]","[web, development, flask]"
3,4,"{\n ""title"": ""Machine Learning with Scikit-L...","[Machine, Learning, with, Scikit-Learn]","[machine, learning, scikit-learn]"
4,5,"{\n ""title"": ""Data Visualization with Matplo...","[Data, Visualization, with, Matplotlib]","[data, visualization, matplotlib]"

In [ ]:
# 4. Implement a preprocessing function that converts terms to lowercase, removes punctuation, and removes common stop words.
    # Create another new column "Terms_preprocessed"
def preprocess_terms(terms):
    # Define a set of common stop words
    stop_words = set([
        "a", "an", "the", "and", "is", "in", "it", "to", "of", "for", "on", "with", "as"
    ])
    
    # Remove punctuation and convert to lowercase
    terms = [term.lower().strip(string.punctuation) for term in terms]
    
    # Remove stop words
    terms = [term for term in terms if term not in stop_words]
    
    return terms

# your code here....

In [7]:
# Initialize an empty inverted index dictionary
# Build the inverted index
# Initialize an empty inverted index dictionary
inverted_index = {}

# Build the inverted index
for index, row in df.iterrows():
    document_id = row["Document ID"]
    terms = row["Terms_prep"]
    
    # Update the inverted index with terms and document IDs
    for term in terms:
        if term not in inverted_index:
            inverted_index[term] = set()
        inverted_index[term].add(document_id)

# Display the inverted index
inverted_index

{'introduction': {1},
 'python': {1},
 'data': {2, 5},
 'analysis': {2},
 'pandas': {2},
 'web': {3},
 'development': {3},
 'flask': {3},
 'machine': {4},
 'learning': {4},
 'scikit-learn': {4},
 'visualization': {5},
 'matplotlib': {5}}

In [8]:
# perform boolean operations on postings lists for Boolean search operations
# 1. "Python" OR "Pandas"
# 2. "Python" AND "data"